@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    height: 100vh;
    width:100%;
    font-family:'pacifico', 'cursive';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top:10%;
    font-size: 1.1rem;
    background: linear-gradient(103deg, #a60ade ,#dce94a , #a60ade);
    background-repeat: no-repeat;
}
.sections{
   display:grid;
   grid-template-columns: 1fr 2fr 1fr ;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    top:2%;
    left:5%;
    text-align:left;
}
.board{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.white-board{
    position:relative;
    margin: auto;
    background:#cefefe;
    height:350px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border:20px solid rgb(173, 43, 7);
    box-shadow: 0px 1px 0px 5px rgb(121, 31, 6);
}

input{
    width:270px;
    height: 50px;
    font-size:1.7rem;
    text-align: center;
    margin:10px;
    border: none;
    background:#cefefe;
    font-family:'pacifico', 'cursive';
}
.btn-reset{
    display:none;
}
button{
    display: block;
    margin:20px ;
    padding:8px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #a871bc;
    font-family:'pacifico';
    border:none;
}
.output{
font-size: 1.4rem;
color: blue;font-weight: 700;

}
.stand{
    position: relative;
    top:-10px;
    width: 230px;
    height:25px;
    border-radius:0 0 10px 10px;
    background-color: rgb(137, 42, 16);
    border:2px solid rgb(95, 28, 9);
}
.legs{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 65px;
margin-top:-30px;
}
.leg{
    border:1px solid rgb(111, 34, 12);
    z-index:-1;
    margin:auto 16px;
    width:16px;
    height:170px;
    border-radius: 10px;
    background-color: rgb(137, 42, 16);
}

.left{
    transform: rotate(21deg);
    height:200px;
}

.right{
    transform: rotate(-21deg);
    height:200px;
}
.left::after{
    content: ' ';
    background-color: black;
    width:20px;
    height:20px;
}
.shadow{
    z-index: -2;
    margin-top:-20px;
    background-color: rgba(0, 0, 0, 0.282);
    width:400px;
    height:40px;
    border-radius:50%;
}
.attempts{
    font-size:14px;
    margin-top:25px;
    list-style-type:none;

}
.attempts li{
    margin-left:30%;
    margin-top:15px;
    animation-name: moveInleft;
    animation-duration: 2s;  
    animation-fill-mode:forwards;
}
@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.guessed_number{
font-size:1.5rem;
color:#ffee00;
background-color: rgba(0, 0, 0, 0.458);
border-radius:40%;
padding:0 5px;
}
footer {
    
    position: fixed;
    top:93%;
    left:85%;

}
footer a{
    background-color: rgba(0, 0, 0, 0.633);
    padding:5px;
    border-radius: 10px;
 text-decoration: none;
 color:yellow;
}

@media  only screen and (max-width:400px) {
    .board{
        transform: scale(0.5);
    }
}