*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top:10%;
    font-size: 1.1rem;
    background: linear-gradient(15deg, #cf6b6b, #a871bc);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    top:2%;
    text-align: center;
}
.container{
    margin: auto;
    background:#cefefe;
    height:350px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border:20px solid rgb(173, 43, 7);
    
}

input{
    width:200px;
    height: 50px;
    font-size:2rem;
    text-align: center;
    margin:10px;

}
button{
    display: block;
    margin:20px ;
    padding:20px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #a871bc;

}
.output{
font-size: 1.4rem;
color: blue;font-weight: 700;

}