@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
html{
    height: 100%;
}
body{
   height: 100%;
    font-family:'pacifico', 'cursive';
    font-size: 1.1rem;
    background: linear-gradient(103deg, #15031b,#16021e ,#f7ff9e , #16021e,#15031b );
    background-repeat: repeat;
  
    
}
.sections{
   display:grid;
   grid-template-columns: 1fr 5fr 2fr ;
   align-items: center;

}

main{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition:0.3s
}
header{
    color:#ffee00;
    margin-right: auto;
    margin-left: 2%;
    margin-top: -50px;
    text-align:left;
}

.instruction{
    text-align: center;
    margin:5px;
    height:auto;   
    transition:3s; 
}
.choose-level{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;justify-content: space-evenly;
}

.board{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.white-board{
    position:relative;
    margin: auto;
    background:#cefefe;
    height:40vh;
    width:70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border:20px solid rgb(173, 43, 7);
    box-shadow: 0px 1px 0px 5px rgb(121, 31, 6);
    transition: 1s;
}

input{
    width:80%;
    height: 50px;
    font-size:1.7rem;
    text-align: center;
    margin:10px;
    border: none;
    background:#cefefe;
    font-family:'pacifico', 'cursive';
}
.btn-reset{
    display:none;
}
button{
    display: block;
    margin:20px ;
    padding:8px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #a871bc;
    font-family:'pacifico';
    border:none;
}
button:hover{
    transform:scale(0.9);
}
button:focus, button:active{
    background-color: #61406d;
}
.easy, .medium, .hard{
    height: auto;
    width: 100px;
    }

.output{
font-size: 1.4rem;
color: blue;
font-weight: 700;
}

.stand{
    position: relative;
    margin: auto;
    top:-10px;
    width: 230px;
    height:25px;
    border-radius:0 0 10px 10px;
    background-color: rgb(137, 42, 16);
    border:2px solid rgb(95, 28, 9);
    
}

.legs{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 65px;
margin-top:-30px;
}
.leg{
    border:1px solid rgb(111, 34, 12);
    z-index:-1;
    margin:auto 16px;
    width:16px;
    height:170px;
    border-radius: 10px;
    background-color: rgb(137, 42, 16);
}

.left{
    transform: rotate(21deg);
    height:200px;
}

.right{
    transform: rotate(-21deg);
    height:200px;
}

.shadow{
    z-index: -4;
    margin-top:-20px;
    background-color: rgba(0, 0, 0, 0.282);
    width:450px;
    height:20px;
    border-radius:50%;
}
.attempts{
    font-size:14px;
    margin-top:25px;
    list-style-type:none;
    

}

.attempts li{
    color:#ffee00;
    margin-left:1%;
    margin-top:15px;
    animation-name: moveInleft;
    animation-duration: 2s;  
    animation-fill-mode:forwards;
}
@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.guessed_number{
font-size:1.5rem;
color:#ffee00;
background-color: rgba(0, 0, 0, 0.458);
border-radius:40%;
padding:0 5px;
}

footer {
    position: fixed;
    top:93%;
    left:85%;
}
footer a{
    background-color: rgba(0, 0, 0, 0.633);
    padding:5px;
    border-radius: 10px;
 text-decoration: none;
 color:yellow;
}
.sorryText{
    color:#61406d;
}
.sorryText span{
    color:green;
    font-size: 2rem;
}
@media  only screen and (max-width:768px) {
   html{
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
   }
   body{
    height: 100%;
   }
   main{
    overflow-x: hidden;
    display:grid;
    grid-template-rows: 1fr 8fr;
    align-items: end;
   }
   header{
    margin:auto;
    text-align: right;
    background:#15031b8a;
    border-radius: 20px;
    padding:20px;
    font-size: 0.8rem;
   }
   .sections{
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;

   }
   .white-board{
    height:44vh;
    border:10px solid rgb(173, 43, 7);
   }
   .choose-level{
    flex-direction: row;
    width: 100vw;
    justify-content: center;
   }
   .stand, .legs{
    display:none;
   }
   .easy, .medium, .hard{
    height: 40px;
    width: 100px;
    font-size: 14px;
    }
   .board{
    transform: scale(0.8);
   }
   .attempts{
    max-width: 50%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-size:0.5rem;
    margin: auto;
   }
   .attempts li{
    background-color: rgba(0, 0, 0, 0.458);    margin:5px;
    font-size: 0.7rem;
    padding:2px;

   }
   .guessed_number{
    font-size: 0.7rem;
   }
  footer{
    margin: auto;
    text-align: center;
  }
   
}